/* Tombol detail */
.btn-detail {
    background: #1b323f;
    color: #f9f9f9;
    padding: 8px 17px;
    border-radius: 10px;
    border: 1px solid #1f2d3a;
    font-size: 14px;
    font-weight: 500;
    transition: .25s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.btn-detail:hover {
    background: #3f4f5e; /* sedikit lebih terang */
    transform: translateY(-1px);
    box-shadow: 0 6px 16px rgba(44, 62, 80, 0.35);
}

/* Tombol back */
.btn-back {
    background: #f9f9f9;
    color: #2c3e50;
    padding: 10px 22px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: 600;
    transition: .25s ease;
}

.btn-back:hover {
    background: #ececec;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}
