.table2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom dengan lebar sama */
    max-width: 400px; /* ukuran lebih kecil */
    margin: auto;
}

.t2-item {
    background-color: #f9f9f9; /* warna sedikit lebih terang */
    padding: 10px; /* padding lebih kecil */
    text-align: center;
    border-radius: 4px;
    border: 0.5px solid #ffffff; /* border tipis */
    font-size: 14px; /* teks lebih kecil */
}