.title {
  font-size: 2.3rem;
  font-weight: 600;
  color: #0f766e; /* hijau kesehatan #0f4476*/
  text-transform: uppercase;
  border-left: 5px solid #0f766e;
  padding-left: 0px;
  border-right: 5px solid #0f766e;
  padding-right: 0px;
  text-align: center;
  margin-bottom: 20px;
}


